{% extends "base.html" %}

{% block title %}Resource Monitoring Dashboard{% endblock title %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <h1>PoC Dashboard{% if project_name %} - <span class="badge bg-secondary">{{ project_name }}</span> {% endif %}</h1>

    <br><br>

    {% if project_name %}

        {% include "gui/deployments/grafana.html" %}

    {% endif %}

{% endblock content %}
